body {
  font-family: "Raleway", sans-serif;
}

/* Custom */

.logo-title {

  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8rem;
}

.btn-contact-hero {

  background-color: #212529;
  border-color: #212529;
  border-radius: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;

}

.title-about {

  text-transform: uppercase;
  font-size: 3em;
  border-bottom: 2px solid gray;
  display: inline-block;
  padding-bottom: 6px;

}


#works{

background: url(../img/back-g.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;

}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/hero-jon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }

}